.HomeBlockThreeContainer {
    @apply bg-slate-100;
    .imageContainer {
        height: 180px;
        @apply cursor-pointer relative flex items-center justify-center overflow-hidden;
        .image {
            object-fit: cover;
            flex-shrink: 0;
            min-width: 100%;
            min-height: 100%;
            @apply  transition-all duration-500;
        }
    }
}