.AboutContainer {
    // @apply bg-white;
    @apply mb-16;
    .imageContainer {
        height: 250px;
        width: 100%;
        @apply relative flex items-center justify-center overflow-hidden;
        .image {
            object-fit: cover;
            flex-shrink: 0;
            min-width: 100%;
            min-height: 100%;
        }
    }
}